@charset "UTF-8";
.menu-project .menu_item {
	font-size: 0.9em;
    margin: 2em 0 2em 1.5em;
}

.menu-project .menu_item {
    color: #515152;
    --menu-item-color: #d42c2c;
}

.menu-project .menu_item-name {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 300;
	padding: 0.25em;
	color: var(--color-text);
}

.menu-project .menu_item-name::before {
	content: '';
	position: absolute;
	z-index: -1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40%;
	background: var(--menu-item-color);
	transform: scale3d(1,0,1);
	transform-origin: 50% 100%;
	transition: transform 0.3s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu-project .menu-selected::before {
	content: '';
	position: absolute;
	z-index: -1;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 40%;
	background: var(--menu-item-color);
	transform: scale3d(1,1,1);
	transform-origin: 50% 0%;
}

.menu-project .menu_item:hover .menu_item-name::before,
.menu-project .menu_item:focus .menu_item-name::before {
	transform: scale3d(1,1,1);
	transform-origin: 50% 0%;
}

.full-content {
	width: 100%;
	height: 86vh;
	background-image: url('../images/profile.jpg');
	background-size: cover;
}
.full-blinder {
	width: 100%;
	height: 100%;
	background-color: #00000098;
}
.item-header {
	display: inline-block;
	z-index: 100;
}
.item-title-top {
	position: relative;
	top: 7em;
	left: 1em;
	display: inline-block;
	font-size: 4em;
	font-weight: 700;
	white-space: nowrap;
  	background: linear-gradient(#ffffff 50%, #ffffff00 50%);
	-webkit-background-clip: text;
	-moz-background-clip: text;
    background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.item-title-bottom {
	position: relative;
	top: 7em;
	left: -4em;
	display: inline-block;
	font-size: 4em;
	font-weight: 700;
	white-space: nowrap;
  	background: linear-gradient(#ffffff00 50%, #ffffff 50%);
	-webkit-background-clip: text;
	-moz-background-clip: text;
    background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.content-card {
	width: 100%;
	height: 100vh;
}
.scroll_btn > img {
	width: 1em;
	margin-right: 10px;
	vertical-align: middle;
}